.ssh
.viminfo
installstamp
.nobuild
.oraccstart
servestamp
*~
*.tar.gz
*.tar.bz
00any
01*
02*
signlist
*.zip
*.log
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.boo
.emacs
.emacs~
.lesshst
.oracc-user
.profile
.session
.status
.tramp_history
