<?xml version="1.0" encoding="utf-8"?>
<project xmlns="http://oracc.org/ns/xpd/1.0" xmlns:xpd="http://oracc.org/ns/xpd/1.0" n="osl">
  <name>Oracc Sign List</name>
  <abbrev>OSL</abbrev>
  <logo type="text">OSL</logo>
  <type>signlist</type>
  <public>yes</public>
  <blurb>Provides a global registry of sign names, variants and readings for use by Oracc.<br/>
Managed by Niek Veldhuis at UC Berkeley and Steve Tinney and the University of Pennsylvania.</blurb>
  <image>LAK070-ogsl.png</image>
  <image-alt>LAK 70, from A. Deimel, Liste der Archaische Keilschriftzeichen.</image-alt>
  <option name="serve-host" value="build-oracc.museum.upenn.edu"/>
  <option name="serve-subs" value="signlist"/>
  <option name="asl-cbd-tok" value="00lib/epsd27.tok"/>
  <option name="asl-cbd-url" value="http://oracc.org/epsd2"/>
</project>
